.project_mainContainer {
  width: 98%;
  position: relative;
}

.project_titleSection {
  padding: 2rem 2rem 0 2rem;
  text-transform: capitalize;
}

.project_1 {
  width: 100%;
  padding: 2%;
  border: solid red 1px;
  display: flex;
  flex-direction: row;
}

.project_1_image {
  width: 70%;
  border: solid blue 1px;

}

.project_1_image img {
  width: 100%;
  object-fit: cover;
}

.project_1_data {
  width: 30%;
  padding: 2rem;
  border: solid green 1px;
}