.project_mainContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
  color: black;
}

.project_mainContainer h6,
h5 {
  font-weight: 400;
}

.project_mainContainer.appear-transition {
  color: white;
}

.project_titleSection {
  padding: 4rem 6rem 1rem 6rem;
  text-transform: capitalize;
  font-size: larger;
}

.project_1,
.project_2,
.project_3 {
  width: 100%;
  padding: 300px 6%;
  border: solid red 1px;
  display: flex;
  flex-direction: row;
}

.project_3 {
  color: black;
}

.project_1_image,
.project_2_image,
.project_3_image {
  width: 70%;
  border: solid blue 1px;

}

.project_1_image img,
.project_2_image img,
.project_3_image img {
  width: 100%;
  object-fit: cover;
}

.project_1_data,
.project_2_data,
.project_3_data {
  width: 30%;
  padding: 2rem;
  border: solid green 1px;
}

.small {
  display: none;
}

.project_btns {
  display: flex;
  gap: 1.5rem;
}

.project_btns button {
  position: relative;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  background-color: #455ce9;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;

}

.project_btns button::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgb(26, 65, 148);
  cursor: pointer;
  z-index: -1;
  animation: expandAnimation 1s forwards;
}

.project_btns button:hover::before {
  animation: expandAnimation 1s forwards;

}

@keyframes expandAnimation {
  0% {
    left: 0;
  }

  100% {
    left: 0%;
    width: 200px;
    height: 100px;
  }
}

.project_btns button:hover::before {
  animation: reverseAnimation 2s forwards;
}

@keyframes reverseAnimation {
  0% {
    left: 0%;
    width: 200px;
    height: 100px;
  }

  100% {
    left: 150%;
    width: 0px;
    height: 0px;
  }
}

@media screen and (max-width: 1100px) {

  .project_1,
  .project_2,
  .project_3 {
    width: 100%;
    padding: 200px 6%;
    border: solid rgb(173, 21, 21) 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project_1_image,
  .project_2_image,
  .project_3_image {
    width: 90%;
    border: solid blue 1px;

  }

  .project_1_data,
  .project_2_data,
  .project_3_data {
    width: 90%;
    padding: 2rem;
    border: solid green 1px;
  }

  .large {
    display: none;
  }

  .small {
    display: block;
  }


}