.about_mainContainer {
  position: relative;
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 3s ease;
  gap: 4rem;
  padding: 5rem;
  color: black;

}

.about_mainContainer p:nth-child(1) {
  font-weight: bold;
  opacity: 0;
}

.about_mainContainer p:nth-child(2) {
  opacity: 0;
}


.about_mainContainer.appear-transition {
  opacity: 1;
  background-color: white;
  /* Change opacity to 1 when the component appears */
}

.about_mainContainer.appear-transition p:nth-child(1) {
  opacity: 1;
  transition: all 1.5s ease;
}

.about_mainContainer.appear-transition p:nth-child(2) {
  opacity: 1;
  transition: all 5s ease;
}