.navbar_mainContainer {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #999D9E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar_mainContainer h3 {
  font-size: 20px;
  padding-left: 2rem;
}

.navbar_menuBtn {
  display: none;
  cursor: pointer;
  padding-right: 3rem;
}

.navbar_list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  font-size: 22px;
  padding-right: 7rem;
  cursor: pointer;


}

.test {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  border: solid 1px red;
  z-index: -1;
}

.navbar_menuComponent {
  position: fixed;
  transform-origin: right;
  top: -20%;
  width: 150vw;
  height: 150vh;
  border-radius: 50%;
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  z-index: 2;
}

.navbar_menuComponent img {
  position: absolute;
  top: 15%;
  right: 40%;
  cursor: pointer;
}

.navbar_menuComponent img:hover {
  transform: scale(.7);
  transition: all 0.2s ease-in-out;
}

.navbar_menuComponent_list {
  position: absolute;
  top: 25%;
  left: 10%;
  display: flex;
  gap: 30px;
  list-style: none;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navbar_menuComponent_list li {
  cursor: pointer;
}

.navbar_menuComponent_list h4 {
  cursor: default;
  margin-bottom: -20px;
  font-size: 14px;
  color: rgb(219, 219, 219);
}

.navbar_menuComponent_list hr {
  width: 300%;
}

.navbar_menuLogo_linkedIn img {
  width: 40px;
  position: absolute;
  top: 90%;
  left: 0%;

}

.navbar_menuLogo_git img {
  width: 40px;
  position: absolute;
  top: 90%;
  left: 55%;
}



.navbar_menuComponent_list li::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  left: 280%;
  margin-top: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar_menuComponent_list li:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}


@media screen and (max-width: 1100px) {
  .navbar_list {
    padding-right: 4rem;
  }
}

@media screen and (max-width: 800px) {
  .navbar_list {
    display: none;
  }

  .navbar_menuBtn {
    display: block;
  }
}